.check {
  width: 100%;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  color: black;
  font-weight: 700;
  margin-bottom: 1rem;
}

.seccionForm2 {
  margin-top: 2rem !important;
}
