<ion-content [fullscreen]="true">
  <div class="container">
    <img src="../../assets/logo.svg" class="logoSM" alt="" />

    <div class="divRegistro">
      <span class="tituloRegistro">Registro</span>

      <div class="seccionForm2">
        <div class="check">
          <label>
            <input type="checkbox" id="cbox1" value="first_checkbox" />
            Categoria
          </label>
        </div>

        <div class="check">
          <label>
            <input type="checkbox" id="cbox1" value="first_checkbox" />
            Categoria
          </label>
        </div>

        <div class="check">
          <label>
            <input type="checkbox" id="cbox1" value="first_checkbox" />
            Categoria
          </label>
        </div>

        <div class="check">
          <label>
            <input type="checkbox" id="cbox1" value="first_checkbox" />
            Categoria
          </label>
        </div>

        <div class="check">
          <label>
            <input type="checkbox" id="cbox1" value="first_checkbox" />
            Categoria
          </label>
        </div>

        <div class="check">
          <label>
            <input type="checkbox" id="cbox1" value="first_checkbox" />
            Categoria
          </label>
        </div>

        <div class="check">
          <label>
            <input type="checkbox" id="cbox1" value="first_checkbox" />
            Categoria
          </label>
        </div>

        <button (click)="navegarARegistro()" class="btn btnGlobal w100">
          Registro
        </button>
      </div>
    </div>
  </div>
</ion-content>
