<ion-content [fullscreen]="true">
  <div class="container">
    <img src="../../assets/logo.svg" class="logoSM" alt="" />

    <div class="divRegistro">
      <span class="tituloRegistro">Registro</span>

      <div class="seccionForm2">
        <label for="">Caracteristicas</label>
        <textarea class="textArea2" id="" cols="30" rows="5"></textarea>

        <label for="">Escribe tu Curriculum</label>
        <textarea class="textArea2" id="" cols="30" rows="5"></textarea>
        <button (click)="navegarARegistro()" class="btn btnGlobal w100">
          Registro
        </button>
      </div>
    </div>
  </div>
</ion-content>
