.codigo-activacion {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}

.codigo-activacion input {
  width: 2em; /* Ancho suficiente para un solo dígito */
  height: 2em; /* Ajusta la altura según sea necesario */
  text-align: center;
  margin: 0 0.2em; /* Espacio entre los inputs */
  border: 1px solid #ccc; /* Borde para visualización */
  border-radius: 4px; /* Borde redondeado */
}
