<ion-content [fullscreen]="true">
  <div class="container">
    <img src="../../assets/logo.svg" class="logoInicio" alt="" />

    <div class="divInicio">
      <span class="titulo">Digita el codigo</span>
      <div class="divTerminos">
        <span class="textTerminos"
          >Digita el codigo que recibiste por sms o whatsapp
        </span>
      </div>

      <div class="codigo-activacion">
        <input type="text" maxlength="1" />
        <input type="text" maxlength="1" />
        <input type="text" maxlength="1" />
        <input type="text" maxlength="1" />
        <input type="text" maxlength="1" />
        <input type="text" maxlength="1" />
      </div>

      <button class="btn btnGlobal w80 mt-1" (click)="irHome()">
        Siguiente
      </button>
    </div>

    <div class="footerInicio">&#64;gr8cast</div>
  </div>
</ion-content>
