<ion-menu contentId="main-content" style="--background: #3a3d3d">
  <div class="containerMenu">
    <div class="header">
      <ion-menu-toggle>
        <i
          class="fa-solid fa-arrow-left"
          style="color: white; font-weight: 600; font-size: 2rem"
        ></i>
      </ion-menu-toggle>

      <div class="perfil-container">
        <!-- Avatar -->
        <img
          class="avatar"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
          alt="Avatar"
        />

        <!-- Contenedor de texto -->
        <div class="texto-container">
          <!-- Nombre -->
          <div class="nombre">Empresario A</div>

          <!-- Descripción -->
          <div class="descripcion">Versión 5.5.0</div>
        </div>
      </div>

      <div class="opciones">
        <div class="opcionMenu">
          <i class="fa fa-user" style="margin-right: 1rem"></i>
          Perfil
        </div>

        <div class="opcionMenu">
          <i class="fa fa-credit-card" style="margin-right: 1rem"></i>
          Mi Dinero
        </div>

        <div class="opcionMenu">
          <i
            class="fa-solid fa-clock-rotate-left"
            style="margin-right: 1rem"
          ></i>
          Historiales
        </div>
      </div>
    </div>

    <div class="perfil"></div>

    <div class="footerInicio">
      <a href=""> <i class="fa fa-check"></i> Soporte Tecnico</a> <br />
      <a href=""> <i class="fa fa-check"></i> Contenido Legal</a> <br />
      <img src="../../../assets/logo.svg" style="width: 40%" alt="" />
    </div>
  </div>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-content>
    <div class="headerHome">
      <ion-menu-toggle>
        <i class="fa-solid fa-bars" style="color: white; font-size: 1.5rem"></i>
      </ion-menu-toggle>

      <img src="../../../assets/logo.svg" style="width: 30%" alt="" />

      <ion-menu-toggle>
        <i
          class="fa-regular fa-bell"
          style="color: #00d1ff; font-size: 1.5rem"
        ></i>
      </ion-menu-toggle>
    </div>

    <div class="historys">
      <div class="list_buttons_news">
        <div class="carousel-wrapper">
          <div *ngFor="let avatar of avatars" class="bton_set_">
            <img src="{{ avatar }}" class="avatar2" alt="" />
          </div>
        </div>
      </div>
    </div>

    <hr class="hr" />

    <div class="profileHomeCaza">
      <div class="perfil-container">
        <!-- Avatar -->
        <img
          class="perfil-avatar"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
          alt="Avatar"
        />

        <!-- Contenedor de texto -->
        <div class="perfil-texto-container">
          <!-- Nombre -->
          <div class="perfil-nombre">Adrian Castro</div>

          <!-- Descripción -->
          <div class="perfil-linea-adicional">
            <i class="fa fa-location-dot"></i> Ciudad de Panamá
          </div>
          <div class="perfil-linea-adicional">
            actor - bailarín - músico - modelo ...
          </div>

          <!-- Línea adicional y estrellas de votación -->
          <div class="perfil-linea-adicional">
            <!-- Puedes ajustar el número de estrellas en la clase fa-star según tu necesidad -->
            <span class="fa fa-star perfil-checked"></span>
            <span class="fa fa-star perfil-checked"></span>
            <span class="fa fa-star perfil-checked"></span>
            <span class="fa fa-star perfil-checked"></span>
            <span class="fa fa-star perfil-unchecked"></span>
          </div>
        </div>
      </div>

      <div class="contenedor-imagen">
        <img
          src="../../../assets/demo.png"
          style="width: 90%; margin-left: 5%"
          alt=""
        />

        <!-- Div con texto en la esquina inferior izquierda -->
        <div class="texto-en-esquina">
          <p><i class="fa fa-heart" style="margin-right: 0.5rem"></i> 150</p>
          <p><i class="fa fa-camera" style="margin-right: 0.5rem"></i> 12</p>
          <p><i class="fa fa-video" style="margin-right: 0.5rem"></i> 6</p>
        </div>
      </div>
    </div>

    <div class="profileHomeCaza">
      <div class="perfil-container">
        <!-- Avatar -->
        <img
          class="perfil-avatar"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
          alt="Avatar"
        />

        <!-- Contenedor de texto -->
        <div class="perfil-texto-container">
          <!-- Nombre -->
          <div class="perfil-nombre">Adrian Castro</div>

          <!-- Descripción -->
          <div class="perfil-linea-adicional">
            <i class="fa fa-location-dot"></i> Ciudad de Panamá
          </div>
          <div class="perfil-linea-adicional">
            actor - bailarín - músico - modelo ...
          </div>

          <!-- Línea adicional y estrellas de votación -->
          <div class="perfil-linea-adicional">
            <!-- Puedes ajustar el número de estrellas en la clase fa-star según tu necesidad -->
            <span class="fa fa-star perfil-checked"></span>
            <span class="fa fa-star perfil-checked"></span>
            <span class="fa fa-star perfil-checked"></span>
            <span class="fa fa-star perfil-checked"></span>
            <span class="fa fa-star perfil-unchecked"></span>
          </div>
        </div>
      </div>

      <div class="contenedor-imagen">
        <img
          src="../../../assets/demo.png"
          style="width: 90%; margin-left: 5%"
          alt=""
        />

        <!-- Div con texto en la esquina inferior izquierda -->
        <div class="texto-en-esquina">
          <p><i class="fa fa-heart" style="margin-right: 0.5rem"></i> 150</p>
          <p><i class="fa fa-camera" style="margin-right: 0.5rem"></i> 12</p>
          <p><i class="fa fa-video" style="margin-right: 0.5rem"></i> 6</p>
        </div>
      </div>
    </div>

    <div class="profileHomeCaza">
      <div class="perfil-container">
        <!-- Avatar -->
        <img
          class="perfil-avatar"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
          alt="Avatar"
        />

        <!-- Contenedor de texto -->
        <div class="perfil-texto-container">
          <!-- Nombre -->
          <div class="perfil-nombre">Adrian Castro</div>

          <!-- Descripción -->
          <div class="perfil-linea-adicional">
            <i class="fa fa-location-dot"></i> Ciudad de Panamá
          </div>
          <div class="perfil-linea-adicional">
            actor - bailarín - músico - modelo ...
          </div>

          <!-- Línea adicional y estrellas de votación -->
          <div class="perfil-linea-adicional">
            <!-- Puedes ajustar el número de estrellas en la clase fa-star según tu necesidad -->
            <span class="fa fa-star perfil-checked"></span>
            <span class="fa fa-star perfil-checked"></span>
            <span class="fa fa-star perfil-checked"></span>
            <span class="fa fa-star perfil-checked"></span>
            <span class="fa fa-star perfil-unchecked"></span>
          </div>
        </div>
      </div>

      <div class="contenedor-imagen">
        <img
          src="../../../assets/demo.png"
          style="width: 90%; margin-left: 5%"
          alt=""
        />

        <!-- Div con texto en la esquina inferior izquierda -->
        <div class="texto-en-esquina">
          <p><i class="fa fa-heart" style="margin-right: 0.5rem"></i> 150</p>
          <p><i class="fa fa-camera" style="margin-right: 0.5rem"></i> 12</p>
          <p><i class="fa fa-video" style="margin-right: 0.5rem"></i> 6</p>
        </div>
      </div>
    </div>

    <div class="profileHomeCaza">
      <div class="perfil-container">
        <!-- Avatar -->
        <img
          class="perfil-avatar"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
          alt="Avatar"
        />

        <!-- Contenedor de texto -->
        <div class="perfil-texto-container">
          <!-- Nombre -->
          <div class="perfil-nombre">Adrian Castro</div>

          <!-- Descripción -->
          <div class="perfil-linea-adicional">
            <i class="fa fa-location-dot"></i> Ciudad de Panamá
          </div>
          <div class="perfil-linea-adicional">
            actor - bailarín - músico - modelo ...
          </div>

          <!-- Línea adicional y estrellas de votación -->
          <div class="perfil-linea-adicional">
            <!-- Puedes ajustar el número de estrellas en la clase fa-star según tu necesidad -->
            <span class="fa fa-star perfil-checked"></span>
            <span class="fa fa-star perfil-checked"></span>
            <span class="fa fa-star perfil-checked"></span>
            <span class="fa fa-star perfil-checked"></span>
            <span class="fa fa-star perfil-unchecked"></span>
          </div>
        </div>
      </div>

      <div class="contenedor-imagen">
        <img
          src="../../../assets/demo.png"
          style="width: 90%; margin-left: 5%"
          alt=""
        />

        <!-- Div con texto en la esquina inferior izquierda -->
        <div class="texto-en-esquina">
          <p><i class="fa fa-heart" style="margin-right: 0.5rem"></i> 150</p>
          <p><i class="fa fa-camera" style="margin-right: 0.5rem"></i> 12</p>
          <p><i class="fa fa-video" style="margin-right: 0.5rem"></i> 6</p>
        </div>
      </div>
    </div>

    <div class="profileHomeCaza">
      <div class="perfil-container">
        <!-- Avatar -->
        <img
          class="perfil-avatar"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
          alt="Avatar"
        />

        <!-- Contenedor de texto -->
        <div class="perfil-texto-container">
          <!-- Nombre -->
          <div class="perfil-nombre">Adrian Castro</div>

          <!-- Descripción -->
          <div class="perfil-linea-adicional">
            <i class="fa fa-location-dot"></i> Ciudad de Panamá
          </div>
          <div class="perfil-linea-adicional">
            actor - bailarín - músico - modelo ...
          </div>

          <!-- Línea adicional y estrellas de votación -->
          <div class="perfil-linea-adicional">
            <!-- Puedes ajustar el número de estrellas en la clase fa-star según tu necesidad -->
            <span class="fa fa-star perfil-checked"></span>
            <span class="fa fa-star perfil-checked"></span>
            <span class="fa fa-star perfil-checked"></span>
            <span class="fa fa-star perfil-checked"></span>
            <span class="fa fa-star perfil-unchecked"></span>
          </div>
        </div>
      </div>

      <div class="contenedor-imagen">
        <img
          src="../../../assets/demo.png"
          style="width: 90%; margin-left: 5%"
          alt=""
        />

        <!-- Div con texto en la esquina inferior izquierda -->
        <div class="texto-en-esquina">
          <p><i class="fa fa-heart" style="margin-right: 0.5rem"></i> 150</p>
          <p><i class="fa fa-camera" style="margin-right: 0.5rem"></i> 12</p>
          <p><i class="fa fa-video" style="margin-right: 0.5rem"></i> 6</p>
        </div>
      </div>
    </div>

    <div class="barraInferior">
      <div class="grid">
        <div class="opcion-menu" onclick="irAInicio()">
          <ion-icon name="home" class="icono-menu"></ion-icon>
          <br />
          <span>Inicio</span>
        </div>
        <div class="opcion-menu">
          <ion-icon name="videocam-outline" class="icono-menu"></ion-icon>
          <br />
          <span>Capacitacion</span>
        </div>
        <div class="opcion-menu" onclick="documentos()">
          <ion-icon name="document-text-outline" class="icono-menu"></ion-icon>
          <br />
          <span>Documentos</span>
        </div>
      </div>
    </div>
  </ion-content>
</div>
