.perfil-container {
  display: flex;
  align-items: center;
  padding: 20px;
  text-align: left;
  color: white;
}

/* Estilos para el avatar */
.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}
list_buttons_news
/* Estilos para las líneas de texto */
.texto-container {
  flex-grow: 1; /* Permite que este contenedor ocupe el espacio restante */
}

.nombre {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.descripcion {
  font-size: 0.8em;
}

ion-content {
  --ion-background-color: #3a3d3d;
}

// .list_buttons_news {
//   margin-top: 15px;
//   overflow-x: scroll;
//   overflow-y: hidden;
//   white-space: nowrap;
//   padding-left: 1em;
//   padding-right: 1em;
// }

.list_buttons_news {
  margin-top: 15px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.list_buttons_news::-webkit-scrollbar {
  display: none; /* Webkit */
}

.carousel-wrapper {
  display: flex;
}

.bton_set_ {
  flex: 0 0 auto; /* No crecerá ni se encogerá, tamaño fijo */
  margin-right: 10px;
}

.avatar2 {
  width: 3rem;
  height: auto;
}

.hr {
  height: 0.3rem;
  border: none; /* Elimina el borde predeterminado para que la altura sea la única característica visual */
  background-color: #d9d9d9; /* Puedes cambiar el color de fondo según tus preferencias */
}
