<ion-content [fullscreen]="true">
  <div class="container">
    <img src="../../assets/logo.svg" class="logoInicio" alt="" />

    <div class="divInicio">
      <span class="titulo">Digita tu numero celular</span>
      <div class="divTerminos">
        <span class="textTerminos"
          >Por favor digita el número del teléfono celular con que te
          registraste.
        </span>
      </div>

      <input
        type="input"
        class="inputR1"
        style="width: 80%"
        placeholder="+507 6222 4555"
      />

      <div class="divTerminos">
        <span class="textTerminos"
          >Recibirás un código en tu número de contacto
        </span>
      </div>

      <button class="btn btnGlobal w80" (click)="irCodigo()">Siguiente</button>
    </div>

    <div class="footerInicio">&#64;gr8cast</div>
  </div>
</ion-content>
