<ion-content [fullscreen]="true">
  <div class="container">
    <img src="../../assets/logo.svg" class="logoSM" alt="" />

    <div class="divRegistro">
      <span class="tituloRegistro">Registro</span>

      <div class="seccionForm2">
        <label class="labelR2">Etnia</label>
        <select class="inputR2">
          <option value="">Elige</option>
        </select>

        <label class="labelR2">Estatura</label>
        <input type="text" class="inputR2" placeholder="Cms" />

        <label class="labelR2">Peso Actual</label>
        <input type="text" class="inputR2" placeholder="KG" />

        <label class="labelR2">Color de Cabello</label>
        <select class="inputR2">
          <option value="">Elige</option>
        </select>

        <label class="labelR2">Tipos de Cabello</label>
        <select class="inputR2">
          <option value="">Elige</option>
        </select>

        <label class="labelR2">Color de Piel</label>
        <select class="inputR2">
          <option value="">Elige</option>
        </select>
        <button (click)="navegarARegistro()" class="btn btnGlobal w100 mt-5">
          Registro
        </button>
      </div>
    </div>
  </div>
</ion-content>
