/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monserrat";
  src: url("./assets/monserrat/Montserrat-VariableFont_wght.ttf");
}

* {
  font-family: "Monserrat";
}

.container {
  height: 100vh;
  width: 100%;
  background-color: #000000;
  color: white;
  position: relative;
}

.titulo {
  font-weight: 900;
  font-size: 2rem;
}

.tituloRegistro {
  font-weight: 900;
  font-size: 1.6rem;
}

.logoInicio {
  width: 40%;
  margin-left: 30%;
  margin-top: 10vh;
}

.logoSM {
  width: 40%;
  margin-left: 30%;
  margin-top: 1vh;
}

.divInicio {
  margin-top: 20vh;
  width: 100%;
  text-align: center;
  color: white;
}

.divRegistro {
  width: 100%;
  text-align: center;
  color: white;
}

.footerInicio {
  font-size: 1.5rem;
  font-weight: 900;
  width: 100%;
  bottom: 5vh;
  text-align: center;
  position: absolute;
}

.footerInicio a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
}

.registroTexto {
  width: 100%;
  margin-top: 1rem;
}

.registroInicio {
  font-weight: 600;
  color: #3a3d3d;
  font-size: 1rem;
}

// botones
.btn {
  padding: 1rem 0rem 1rem 0rem;
}

.btnGlobal {
  background-color: #3a3d3d;
  font-weight: 700;
  color: white;
  border-radius: 2rem;
  border: 0px #3a3d3d;
}

.opciones {
  margin-top: 2rem;
  text-align: left;
}

.opcionMenu {
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  padding: 0.5rem 0rem 0.5rem 1.5rem;
}

.w80 {
  width: 80%;
}

.w100 {
  width: 100%;
}

.mt2 {
  margin-top: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.center-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.avatar2 {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.seccionForm {
  width: 80%;
  margin-left: 10%;
}

.seccionForm2 {
  width: 80%;
  margin-left: 10%;
  text-align: left;
}

.inputR1 {
  width: 100%;
  margin-bottom: 0.5rem;
  background-color: #f2f4f7;
  color: #667085;
  padding: 0.5rem 0 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: 700;
}

.inputR2 {
  width: 100%;
  margin-bottom: 0.5rem;
  background-color: black;
  border-radius: 2px white;
  color: white;
  padding: 0.5rem 0 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.labelR2 {
  color: white;
  font-size: 1rem;
  text-align: left;
}

.textTerminos {
  font-size: 0.7rem;
  color: #8a8a8a;
  line-height: 0.3 !important;
  margin: 0;
}

.terminos {
  color: #ee9841;
}

.mt-5 {
  margin-top: 5rem;
}

.containerMenu {
  background-color: #3a3d3d;
  width: 100%;
}

.containerMenu .header {
  width: 100%;
  text-align: right;
  padding: 1rem 1rem 0 0;
}

.containerMenu .perfil {
  width: 100%;
  text-align: right;
  padding: 1rem 1rem 0 0;
}

.headerHome {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 0rem 1rem;
}

.perfil-container {
  display: flex;
  align-items: center;
}

.perfil-avatar {
  width: 50px; /* Ajusta según tus necesidades */
  height: 50px; /* Ajusta según tus necesidades */
  border-radius: 50%; /* Para hacerlo circular */
  margin-right: 10px; /* Espaciado entre el avatar y el texto */
}

.perfil-texto-container {
  display: flex;
  flex-direction: column;
}

.perfil-nombre {
  font-weight: bold;
}

.perfil-linea-adicional {
  display: flex;
  align-items: center;
  font-size: 0.5;
}

/* Estilos para las estrellas de votación con Font Awesome */
.fa-star {
  font-size: 0.7rem; /* Tamaño de las estrellas */
  color: #ffd700; /* Color de las estrellas */
}

.perfil-checked {
  color: #ffcc00; /* Color de las estrellas seleccionadas */
}

.perfil-unchecked {
  /* Puedes establecer un color diferente para las estrellas no seleccionadas si lo deseas */
  color: #ccc;
}

.contenedor-imagen {
  position: relative; /* Establece la posición relativa para que el div interno se posicione en relación con este contenedor */
  width: 100%; /* Ajusta según tus necesidades */
}

.texto-en-esquina {
  position: absolute; /* Establece la posición absoluta para que el div se posicione en relación con el contenedor padre */
  bottom: 1rem; /* Coloca el div en la parte inferior */
  left: 1.5rem; /* Coloca el div en la parte izquierda */
  background-color: rgba(0, 0, 0, 0.7); /* Fondo negro semitransparente */
  padding: 0.5rem; /* Ajusta el padding según tus necesidades */
  color: white; /* Color del texto en el div */
  border-radius: 0.7rem;
}

.texto-en-esquina p {
  margin: 0; /* Elimina el margen predeterminado de los párrafos */
}

// barra inferior
.barraInferior {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem; /* Ajusta según tus necesidades */
  background-color: #2d549d;
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Divide en 3 columnas iguales */
  gap: 0.5rem; /* Ajusta el espacio entre las opciones según tus necesidades */
}

.opcion-menu {
  text-align: center;
  color: white;
  padding: 0.5rem;
}

.icono-menu {
  font-size: 2rem; /* Ajusta según tus necesidades */
}
