<ion-content [fullscreen]="true">
  <div class="container">
    <img src="../../assets/logo.svg" class="logoInicio" alt="" />

    <div class="divInicio">
      <span class="titulo">Iniciar Sesion</span>
      <input
        type="button"
        class="btn btnGlobal w80 mt2"
        (click)="irA('caza')"
        value="Cazatalentos"
      />
      <input
        type="button"
        class="btn btnGlobal w80 mt2"
        (click)="irA('talento')"
        value="Talento"
      />
      <div class="registroTexto">
        <a routerLink="/registro" class="registroInicio">Registrarme</a>
      </div>
    </div>

    <div class="footerInicio">&#64;gr8cast</div>
  </div>
</ion-content>
