.tabsBG {
  background-color: #d9d9d9;
  width: 80%;
  margin-left: 10%;
  margin-top: 0.5rem;
  border-radius: 2rem;
  /* Agregamos el modelo de caja flexible (flexbox) */
  display: flex;
  justify-content: space-between;
}

/* Estilo para los div internos */
.tabsBG div {
  width: 48%; /* El 48% asegura que haya espacio de 1% entre los divs */
  box-sizing: border-box; /* Asegura que el borde no afecte el ancho total */
  padding: 0.5rem 0 0.5rem 0;
  font-weight: 600;
  color: black;
}

.tabsBG .active {
  background-color: #fcbf22; /* Fondo amarillo */
  border-radius: 1rem; /* Borde redondeado igual al div raíz */
  color: black;
}
